.listItem{
    width: 500px;
    color: #353935;
    font-size: 20px;
    margin: 0 auto;
    
}

.listText{
    font-weight: bold;
    padding: 20px;
}

.line{
    border: 1px solid #f4f4f4;
}

.deleteButton{
    float: right;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
}
.completed {
  text-decoration: line-through;
  color: gray;
}